@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (min-width: 900px) {
  .heroHeadline {
    text-align-last: justify;
    font-size: 76px;
  }
}

@media only screen and (max-width: 899px) {
  .heroHeadline {
    text-align: center;
    font-size: 52px;
  }
}
