@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Prata&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Globals */
html,
body {
  width: 100%;
  height: 100%;
  /* overflow-x: hidden; */
  overflow-scrolling: touch;

  padding: 0 !important;
  margin: 0;
  position: relative;
  overflow: visible !important;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
  overflow-y: scroll;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
body {
  overflow-y: visible;
  overflow-x: hidden;
  position: relative;
  height: unset;
}

.text-goldBg {
  color: #967e44;
}

/* Language Switcher */

.inputWrapper div:before {
  content: none;
}

.inputWrapper div:after {
  @apply border-b-0;
}

.inputWrapper div {
  outline: "none";
  background: transparent;
  margin: 0 0 0 auto;
}

.inputWrapper div:focus {
  outline: "none";
  background: transparent;
}

.inputWrapper div {
  @apply text-goldBg;
}

.inputWrapper svg path {
  @apply fill-goldBg;
}

/* Intro Headline */

@media only screen and (min-width: 900px) {
  .heroHeadline {
    text-align-last: justify;
    font-size: 76px;
  }
}

@media only screen and (max-width: 899px) {
  .heroHeadline {
    text-align: center;
    font-size: 52px;
  }
}

/* About Us */

.bg-aboutUs-gradient {
  background-image: linear-gradient(to right, white 50%, #967e44 50%);
}

.aboutUsImg :global {
  @apply opacity-30 sm:opacity-100 !important;
}

/* Why We */

.paralaxContainer {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 80px;
  left: 0;
  z-index: -1;
}
